[submodule "LumeBase"]
	path = LumeBase
	url = https://github.com/jsnchng/LumeBase.git
[submodule "LumeEngine"]
	path = LumeEngine
	url = https://github.com/jsnchng/LumeEngine.git
[submodule "LumeRender"]
	path = LumeRender
	url = https://github.com/jsnchng/LumeRender.git
[submodule "Lume3D"]
	path = Lume3D
	url = https://github.com/jsnchng/Lume3D.git
